* {
	padding: 0;
	margin: 0;
	font-size: 1.1rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
	font-size: 2rem;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

var {
	color: red;
}

code {
	font-family:'Courier New', Courier, monospace;
}

h1 {
	text-align: center;
}

button {
	padding: 10px;
	border-radius: 15px;
}
.main-wrapper {
	/* border: 3px solid black; */
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}

.content-wrapper {
	margin: 15px 2rem;
	padding: 5px;
	background-color: #FFAA05;
	border-radius: 25px;
	min-width: 680px;
	width: 700px;
	/* display: flex;
	flex-direction: column; */
}

.content {
	box-sizing: border-box;
	border: 5px solid #ffb829;
	background-color: #FFF3E8;
	border-radius: 20px;
	padding: 1rem 2rem;
	/* height: 100%; */
}

.content-wrapper h2 {
	padding: 0.5rem 1rem;
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px rgba(145, 145, 145, 0.829);
}

.var {
	padding-bottom: 10px;
	text-align: center;
}

ul {
	list-style-type: di;
}


table, th, td {
	border-collapse: collapse;
}

table {
	width: 100%;
}

th, td {
	height: 2rem;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

tr:nth-child(odd) {
	background-color: #e2e2e2;
}

th {
	background-color: rgb(252, 113, 0);
	color: white;
}

.wrapper {
	background-color: #ffffff;
	border: 1px solid orange;
	border-radius: 20px;
	padding: 20px;
	margin-bottom: 10px;
}